[Unit]
Description=RTS Network State Machie

[Service]
ExecStart=/usr/sbin/nsm
SuccessExitStatus=143
TimeoutStopSec=10
Restart=always
RestartSec=5
StartLimitBurst=5
StartLimitInterval=10
StartLimitAction=reboot

[Install]
WantedBy=multi-user.target
